thead {
  border-bottom: 1px solid black;
}

th,
td {
  text-align: left;
}

tbody {
  background-color: #f5f5f5;
}

table {
  border-collapse: collapse;
}

.default-font {
  font-size: 20px;
}

.headings-font {
  font-size: 25px;
}

.btn-dimensions {
  margin-left: 15px;
  height: 31px;
  padding: 2px 10px 3px 10px;
}

#tournaments-table {
  width: 1200px;
  overflow-y: scroll;
}

.tournament-single-entry {
  @extend .default-font;
}

.tournament-country-flag {
  width: 26px;
  height: 20px;
}

.search-input {
  @extend .btn-dimensions;
  padding: none !important;
  font-size: 1rem !important;
}

.test-th {
  width: 120px;
  min-width: 120px;
}

.countries-dropdown {
  max-height: 500px;
  min-width: 280.938px;
  overflow-y: scroll;
}

.tournaments-col {
  @extend .headings-font;
  min-width: 346.85px;
}

.countries-col {
  @extend .tournaments-col;
}

.dropdown-tournament-country-flag {
  @extend .tournament-country-flag;
  margin-left: 2px;
}

.clear-results-th {
  width: 113px;
}

.dropdown-input {
  background-color: #343a40;
  font-size: 18px;
  color: white;
  border-radius: 0px;
  border: none;
}

.dropdown-input:focus {
  border: none;
  box-shadow: none;
  background-color: #343a40;
  color: white;
}

.dropdown-item {
  padding-left: 5px;
  align-items: center;
  justify-content: space-between;
}

.tournament-title {
  padding-left: 5px;
  height: 45px;
  max-width: 450px;
}

.country-title {
  @extend .tournament-title;
  align-items: center;
  max-width: 350px;
}

.no-results-label {
  @extend .headings-font;
}
